h1, p {
 text-align:center;
 text-shadow: 50%;
}
body {

	background-image: url('../images/back.jpg');
	background-repeat:no-repeat;
	 border-image-width: 100%;
	 width: 100%;
	
	
}

.jumbotron{
	opacity: 0.3;
}
.panel.panel-default{
	opacity:0.3;
}